[package]
name = "Sapphillon-Controller"
version = "0.1.0"
edition = "2024" 
authors = ["Yuuta Takahashi <y.highbridge04@gmail.com>"]
license-file = "LICENSE"
readme = "README.md"
repository = "https://github.com/Walkmana-25/Sapphillon"
homepage = "https://github.com/Walkmana-25/Sapphillon"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
tokio = { version = "1", features = ["full"] } # reqwest needs a tokio runtime
chrono = "0.4"
log = "0.4"
env_logger = "0.11"

tonic = "0.12.0"
prost = "0.13.1"
prost-types = "0.13.1"

[build-dependencies]
tonic-build = "0.12.0"
