[package]
name = "Sapphillon-Controller"
version = "0.1.0"
edition = "2024" 
authors = ["Yuuta Takahashi <y.highbridge04@gmail.com>"]
license-file = "LICENSE"
readme = "README.md"
repository = "https://github.com/Walkmana-25/Sapphillon"
homepage = "https://github.com/Walkmana-25/Sapphillon"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
reqwest = { version = "0.12", features = ["json"] } # Use 0.12 for tokio 1.x compatibility
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1", features = ["full"] } # reqwest needs a tokio runtime
chrono = "0.4"

openssl = { version = "0.10.73", features = ["vendored"] }
tonic = "0.10"
prost = "0.12"

[build-dependencies]
tonic-build = "0.10"

